:root {
  --text-color: #ddd;
  --footer-color: #777;
  --background-color: #888;
  --background-hover-color: #999;
  --background-body-color: #333;
  --button-color: #ddd;
  --red-cancel: red;
}

body {
  background-color: var(--background-body-color);
}
.App {
  color: var(--text-color);
  text-align: center;
}
.App #info {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
}
.App footer {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--footer-color);
}
@media (min-width: 801px) {
  .App #info {
    width: 40%;
  }
}
