:root {
  /* --text-color: #ddd;
  --body-text-color: #ddd;
  --input-text-color: #333;
  --input-background-color: #ddd;
  --footer-color: #777;
  --background-color: #888;
  --background-hover-color: #999;
  --background-body-color: #333;
  --button-color: #ddd;
  --red-cancel: red; */

  /* --text-color: #eee;
  --body-text-color: #ddd;
  --input-text-color: #444;
  --input-background-color: #ddd;
  --footer-color: #aaa;
  --background-color: #999;
  --background-hover-color: #bbb;
  --background-body-color: rgba(155, 18, 27, 0.95);
  --button-color: #ddd;
  --red-cancel: red; */

  --text-color: #444;
  --body-text-color: #ddd;
  --input-text-color: #444;
  --input-background-color: #eee;
  --footer-color: #aaa;
  --background-color: #eee;
  --background-hover-color: #bbb;
  --background-body-color: rgba(155, 18, 27, 0.95);
  --button-color: #666;
  --red-cancel: red;
  --shadow-color: rgba(8, 5, 5, 0.7);
}

body {
  background-color: var(--background-body-color);
}
.App {
  color: var(--body-text-color);
  text-align: center;
}
.App #info {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
}
.App footer {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--footer-color);
}
@media (min-width: 801px) {
  .App #info {
    width: 40%;
  }
}
