:root {
  --textColor: #ddd;
  --hoverBackground: #777;
  --backgroundColor: #888;
  --baseBackgroundcolor: #333;
  --redCancel: red;
}

body {
  background-color: var(--baseBackgroundcolor);
}
.App {
  color: var(--textColor);
  text-align: center;
}
.App #info {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
}
.App footer {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--hoverBackground);
}
@media (min-width: 801px) {
  .App #info {
    width: 40%;
  }
}
