.SystemTile {
  width: 70px;
  height: 70px;
  font-size: large;
  line-height: 50%;
  background-color: var(--backgroundColor);
  border-radius: 10%;
  margin-bottom: 2%;
}
.SystemTile:hover {
  background-color: var(--hoverBackground);
}
