.SearchBar {
  font-size: 2.5em;
  text-align: center;
  width: 80%;
  background-color: #ddd;
  border-radius: 10px;
}
.SearchBar:focus {
  outline: none;
}
@media (min-width: 801px) {
  .SearchBar {
    width: 40%;
  }
}
