.SearchBar {
  width: 80%;
  height: 55px;
  margin: auto;
  display: flex;
  position: relative;
}
.SearchBar .input {
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  border: none;
}
.SearchBar .input:focus {
  outline: none;
}
.SearchBar .clearButton {
  cursor: pointer;
  background-color: #888;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 55px;
  height: 55px;
  line-height: 45px;
  position: absolute;
  right: 0px;
  top: 0;
  font-size: 3em;
  color: #ddd;
}
/* arrow part of the clearButton */
.SearchBar .clearButton .arrowPointLeft {
  position: absolute;
  border-color: transparent #888;
  border-style: solid;
  border-width: 28px 27px 27px 0px;
  right: 100%;
  height: 0px;
  width: 0px;
}

@media (min-width: 801px) {
  .SearchBar {
    width: 40%;
  }
  .SearchBar .input {
    width: 100%;
  }
}
