.DetailCard {
  position: relative;
  margin: auto;
  width: 98%;
  display: block; /*docelowo "block" */
}

.DetailCard .header {
  position: fixed;
  width: inherit;
  height: 4.5rem;
  display: flex;
  background-color: var(--backgroundColor);
  border-radius: 0 0 10px 10px;
}
.DetailCard .header .name {
  margin: auto;
  font-size: 3em;
}
.DetailCard .header .closeButton {
  width: 100px;
  background-color: #ddd;
  border-radius: 0 0 10px 0;
}
.DetailCard .header .closeButton img {
  width: 70px;
}
@media (min-width: 801px) {
  .DetailCard {
    width: 40%;
  }
}
.DetailCard .header .closeButton:hover {
  background-color: #eee;
}
