.DetailCard {
  position: relative;
  margin: auto;
  width: 98%;
  display: block; /*docelowo "block" */
}

.DetailCard .header {
  position: fixed;
  width: inherit;
  height: 4.5rem;
  display: flex;
  background-color: var(--background-color);
  border-radius: 0 0 10px 10px;
}
.DetailCard .header .name {
  margin: auto;
  font-size: 3rem;
}
.DetailCard .header .closeButton {
  width: 100px;
  background-color: var(--button-color);
  border-radius: 0 0 10px 0;
}
.DetailCard .header .closeButton img {
  width: 70px;
  /* oh man... just experiment with that */
  filter: invert(27%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(50%);
}
@media (min-width: 801px) {
  .DetailCard {
    width: 40%;
  }
}
.DetailCard .header .closeButton:hover {
  background-color: var(--red-cancel);
}
