.DetailCard {
  position: relative;
  margin: auto;
  width: 98%;
  display: block; /*docelowo "block" */
  background-color: #333;
}
.DetailCard * {
  border-radius: 10px;
}
.DetailCard .header {
  position: fixed;
  width: inherit;
  display: flex;
  background-color: #777;
}
.name {
  margin: auto;
  font-size: 3em;
}
.closeButton {
  width: 82px;
  background-color: #ccc;
}

@media (min-width: 801px) {
  .DetailCard {
    width: 40%;
  }
}
.closeButton:hover {
  background-color: #eee;
}
