.SearchResult {
  width: 60%;
  height: 100px;
  margin: 20px auto;
  line-height: 100px;
  display: flex;
  padding: 10px 0px;
  background-color: #888;
  border-radius: 20px;
  box-shadow: #555 2px 3px;
}
.SearchResult img {
  height: 100px;
  margin: 0 auto 0 10px;
  border-radius: 20px;
}
.SearchResult h2 {
  margin: 0 40px 0 auto;
  color: #eee;
}
