/* .SearchResult {
  width: 80%;
  height: 100px;
  margin: 5px auto;
  line-height: 100px;
  display: flex;
  background-color: var(--background-color);
  border-radius: 10px;
}
.SearchResult .image {
  height: inherit;
  width: 100px;
  border-radius: 10px;
  pointer-events: none;
}
.SearchResult h2 {
  margin: 0 40px 0 auto;
  color: var(--text-color);
} */
/*tiles display*/
.SearchResult {
  position: relative;
  width: 100px;
  height: 120px;
  margin: 5px 5px;
  background-color: var(--background-color);
  box-shadow: -5px 5px 10px var(--shadow-color);
  border-radius: 10px;
}
.SearchResult .image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  pointer-events: none;
}
.SearchResult h2 {
  /* position: absolute;
  top: 80px; */
  margin-top: -3px;
  font-size: 20px;
  z-index: 2;
  color: var(--text-color);
}
/* .SearchResult:hover {
  width: 85%;
  height: 110px;
  background-color: var(--background-hover-color);
} */
.SearchResult:hover {
  width: 110px;
  height: 133px;
  background-color: var(--background-hover-color);
}
.SearchResult:hover .image {
  width: 110px;
  height: 110px;
}
.SearchResult:hover h2 {
  top: 95px;
}
