.SearchResult {
  width: 80%;
  height: 100px;
  margin: 5px auto;
  line-height: 100px;
  display: flex;
  background-color: var(--background-color);
  border-radius: 10px;
}
.SearchResult .image {
  height: inherit;
  width: 100px;
  border-radius: 10px;
  pointer-events: none;
}
.SearchResult h2 {
  margin: 0 40px 0 auto;
  color: var(--text-color);
}
.SearchResult:hover {
  width: 85%;
  height: 110px;
  background-color: var(--background-hover-color);
}
