.Drawing {
  position: relative;
  width: 100%;
}
.Drawing .changeItem {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
}
.Drawing .changeItem .prev,
.next {
  margin: 15% 0;
  width: 25%;
  height: 80%;
}
.Drawing .changeItem .prev svg {
  fill: var(--change-item-color);
  transform: rotate(180deg);
  margin: 100% 50% auto 0px;
}
.Drawing .changeItem .separator {
  width: 50%;
}

.Drawing .changeItem .next svg {
  fill: var(--change-item-color);
  margin: 100% 0px auto 50%;
}
.Drawing .changeItem .prev:hover svg,
.next:hover svg {
  fill: var(--change-item-hover);
}
.Drawing .changeItem .next:hover svg {
  fill: var(--change-item-hover);
}
.Drawing .buttons {
  z-index: 2;
  opacity: 0.75;
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  /* 
  border-radius: 10px 0 0 0; */
}
.Drawing .button {
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(153, 153, 153, 0.5);
}
.Drawing #buttonFlip:hover,
#buttonRot:hover {
  background-color: #aaa;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.Drawing .image {
  margin-bottom: -5px;
  width: 100%;
  pointer-events: none;
  border-radius: 10px 10px 0 0;
}

/*rotation and flip classes*/
.rotate90 {
  transform: rotate(90deg);
  border-radius: 10px 0 0 10px;
}
.rotate180 {
  transform: rotate(180deg);
  border-radius: 0 0 10px 10px;
}
.rotate270 {
  transform: rotate(270deg);
  border-radius: 0 10px 10px 0;
}
.flipped0 {
  transform: scale(-1, 1);
}
.flipped90 {
  transform: rotate(270deg) scale(1, -1);
  border-radius: 0 10px 10px 0;
}
.flipped180 {
  transform: scale(1, -1);
  border-radius: 0 0 10px 10px;
}
.flipped270 {
  transform: rotate(-270deg) scale(1, -1);
  border-radius: 10px 0 0 10px;
}
